/* General Styles */
body {
  font-family: "Lato", sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 20px;
}

.center-text {
        text-align: center;
    }

.container-center {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

/* Form Styles */
.form-container {
  background: #ffffff;
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-container2 {
  background: #ffffff;
 
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  min-width: 140px; /* Minimum width of the form group */
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.readonly-input {
    background-color: #e0e0e0; /* Gray background */
    color: #6c757d; /* Dimmed text color */
}

input[type="text"],
input[type="email"],
input[type="adresse"],
input[type="tel"],
input[type="month"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="adresse"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the confirm button */
.form-group button[type="submit"] {
  background-color: #45a049; /* Darker green color on hover */
  color: #fff; /* White text color */
  padding: 20px 20px; /* Padding for size */
  border: none; /* No border */
  cursor: pointer; /* Hand cursor on hover */
  font-size: 16px; /* Font size */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition effect for hover */
  overflow: auto; /* This can prevent margin collapse */
  width: 100%;
  height: auto;
}

button.confirm-button:hover {
  background-color: #69b630;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  input[type="text"],
  input[type="email"],
  input[type="adresse"],
  input[type="tel"],
  input[type="month"] {
    width: 90%; /* Full width on smaller screens */
  }
}
