/* Base Styles */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

h1,
h2 {
  font-family: "Bellota", sans-serif;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
  overflow: hidden; /* To ensure the border-radius affects child elements */
}

.menu > li {
  padding: 10px 20px; /* Spacing inside each menu item */
  cursor: pointer; /* Change cursor to indicate it's clickable */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.menu > li:hover {
  background-color: #e0e0e0; /* A light hover effect */
}

/* Optional: If your menu items are links */
.menu > li > a {
  text-decoration: none; /* Remove the underline */
  color: inherit; /* Inherit color from the parent (li) */
  display: block; /* Makes the whole area clickable */
}

.menu li {
  cursor: pointer;
}

.menu > li.active {
  background-color: #e0e0e0; /* Set the background color for the active item */
  pointer-events: none; /* Disable clicking on the active item */
}

.title-section {
  background-color: #ebebeb00; /* Placeholder Color */
  padding: 170px 40px 0px 0px;
  text-align: right;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  font-family: "Bellota", sans-serif;
}

.subtitle {
  font-size: 20px;
  color: #fff;
}

.background-photo1 {
  height: 300px;
  background: url("../images/leve-soleil.jpg") no-repeat center center;
  background-size: cover;
}

.background-photo1 {
  height: 300px;
  background: url("../images/leve-soleil.jpg") no-repeat center center;
  background-size: cover;
}

label,
input[type="text"] {
  display: block;
  width: 90%;
  margin-bottom: 10px; /* Optional: to provide some spacing between the label and the input */
}

.form-section {
  background-color: #f5f5f5; /* Placeholder Color */
  padding: 40px 0;
  align: center;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  padding: 10px 0px 0px 0px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
}

.form-item {
  flex: 1 0 50%; /* This will make each item take up half of the container's width */
  box-sizing: border-box; /* This will make sure padding and border are included in the width */
  padding: 10px; /* Optional: for spacing */
}

.error-message {
    color: red; /* Texte en rouge */
    font-weight: bold; /* Texte en gras */   
    padding: 5px; /* Ajoute un peu d'espace autour du texte */
}

.social-link, .social-link svg {
    color: white;
    fill: white; /* This will ensure SVG icons are white */
}



#longueurEquipement {
  width: 100%; /* Takes up the full width of its container */
  box-sizing: border-box; /* Ensures padding and border are included in the total width */
  padding: 10px; /* Optional: Adds some padding inside the input for better visual appeal */
  border: 1px solid #ccc; /* Optional: Adds a subtle border */
  font-size: 16px; /* Optional: Adjusts font size */
  outline: none; /* Optional: Removes the blue outline on focus */
  transition: border-color 0.3s; /* Optional: Smooth transition effect for border color */
}

#longueurEquipement:focus {
  border-color: #007bff; /* Optional: Changes border color when input is focused */
}

#dateDebut {
  width: 100%; /* Takes up the full width of its container */
  box-sizing: border-box; /* Ensures padding and border are included in the total width */
  padding: 10px; /* Optional: Adds some padding inside the input for better visual appeal */
  border: 1px solid #ccc; /* Optional: Adds a subtle border */
  font-size: 16px; /* Optional: Adjusts font size */
  outline: none; /* Optional: Removes the blue outline on focus */
  transition: border-color 0.3s; /* Optional: Smooth transition effect for border color */
}

#dateDebut:focus {
  border-color: #007bff; /* Optional: Changes border color when input is focused */
}

#dateFin {
  width: 100%; /* Takes up the full width of its container */
  box-sizing: border-box; /* Ensures padding and border are included in the total width */
  padding: 10px; /* Optional: Adds some padding inside the input for better visual appeal */
  border: 1px solid #ccc; /* Optional: Adds a subtle border */
  font-size: 16px; /* Optional: Adjusts font size */
  outline: none; /* Optional: Removes the blue outline on focus */
  transition: border-color 0.3s; /* Optional: Smooth transition effect for border color */
}

#dateFin:focus {
  border-color: #007bff; /* Optional: Changes border color when input is focused */
}

#services {
  width: 100%; /* Takes up the full width of its container */
  box-sizing: border-box; /* Ensures padding and border are included in the total width */
  padding: 10px; /* Optional: Adds some padding inside the input for better visual appeal */
  border: 1px solid #ccc; /* Optional: Adds a subtle border */
  font-size: 16px; /* Optional: Adjusts font size */
  outline: none; /* Optional: Removes the blue outline on focus */
  transition: border-color 0.3s; /* Optional: Smooth transition effect for border color */
}

#services:focus {
  border-color: #007bff; /* Optional: Changes border color when input is focused */
}

.form-group {
  margin: 10px 0; /* Optional: Spacing around the form group */
}

.form-group button[type="submit"] {
  background-color: #45a049; /* Darker green color on hover */
  color: #fff; /* White text color */
  padding: 20px 20px; /* Padding for size */
  border: none; /* No border */
  cursor: pointer; /* Hand cursor on hover */
  font-size: 16px; /* Font size */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition effect for hover */
  overflow: auto; /* This can prevent margin collapse */
  width: 100%;
  height: auto;
}

button.confirm-button:hover {
  background-color: #69b630;
}

.hr1 {
  border: none; /* Removes the default border */
  height: 0.5px; /* Sets the height of the HR to 1 pixel */
  background-color: #d1d1d1; /* Sets the color to a light gray */
  margin-bottom: 20px; /* Optional: Spacing below the HR */
}

.hr2 {
  border: none; /* Removes the default border */
  height: 0.5px; /* Sets the height of the HR to 1 pixel */
  background-color: #d1d1d1; /* Sets the color to a light gray */
  margin-top: 20px; /* Optional: Spacing above the HR */
}

.button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.pitch-section {
  display: flex;
  gap: 30px;
  padding: 40px 0;
}

.pitch-text {
  flex: 1;
  padding: 20px;
  background-color: #eee;
}

.background-photo2 {
  flex: 1;
  height: 300px;
  background: url("../images/marshmallows.jpg") no-repeat center center;
  background-size: cover;
}

.background-photo3 {
  flex: 1;
  height: 300px;
  background: url("../images/guitarfire.jpg") no-repeat center center;
  background-size: cover;
}

.background-photo4 {
  flex: 1;
  height: 300px;
  background: url("../images/sauna-baril.jpg") no-repeat center center;
  background-size: cover;
}

.background-photo5 {
  flex: 1;
  height: 300px;
  background: url("../images/velo.jpg") no-repeat center center;
  background-size: cover;
}

.background-photo6 {
  flex: 1;
  
  background: url("../images/accomo.jpg") no-repeat center center;
  background-size: cover;
}

.background-photo7 {
  flex: 1;  
  background: url("../images/reglements.bmp") no-repeat center center;
  background-size: cover;
}

.background-photo8 {
  flex: 1;
  height: 612px;
  background: url("../images/bientot.jpg") no-repeat center center;
  background-size: cover;
}

.activities-section {
  padding: 40px 0;
  display: flex;
  gap: 30px;
}

.activity-photo {
  flex: 1;
  height: 400px;
  background: url("../images/cycling.jpg") no-repeat center center;
  background-size: cover;
}

.activity-photo1 {
  flex: 1;
  height: 300px;
  background: url("../images/sauna.jpg") no-repeat center center;
  background-size: cover;
}

.activity-photo2 {
  flex: 1;
  height: 300px;
  background: url("../images/guitar.jpg") no-repeat center center;
  background-size: cover;
}

.activity-photo3 {
  flex: 1;
  height: 400px;
  background: url("../images/lovers.jpg") no-repeat center center;
  background-size: cover;
}
.activity-photo4 {
  flex: 1;
  height: 400px;
  background: url("../images/camping.jpg") no-repeat center center;
  background-size: cover;
}

.activity-photo5 {
  flex: 1;
  height: 400px;
  background: url("../images/people.jpg") no-repeat center center;
  background-size: cover;
}

.activity-photo6 {
  flex: 1;
  height: 435px;
  background: url("../images/map.jpg") no-repeat center center;
  background-size: cover;
}

.poetry-section,
.services-section {
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: inherit;
  text-align: left;
}

/* Responsive adjustments for smaller screens */
.menu {
  flex-direction: column;
  align-items: center;
}

.form-container {
  flex-direction: column;
}

.pitch-section,
.activities-section {
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* Adjust the gap as needed */
  margin-top: 10px;
}

.thumbnail {
  width: 100%; /* This will make the image fill the container width */
  height: 200px; /* Set a fixed height for all thumbnails */
  object-fit: cover; /* This will cover the area without stretching */
  cursor: pointer; /* Change cursor on hover */
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  overflow: auto; /* Add this to enable scrolling if the content is bigger than the screen */
}

/* Style the image within the modal to be centered */
#img01 {
  max-width: 80%; /* Adjust the width as necessary */
  max-height: 80%; /* Adjust the height as necessary */
  margin: auto; /* This will center the image in the flex container */
  display: block; /* This will take the image out of inline context, centering it in the modal */
  margin-top: 40px; /* Adjust the value as needed */
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #f1f1f1;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Styles for arrows */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Center arrow vertically */
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.thumbnail.modal-trigger {
  cursor: pointer; /* Indicates the image can be clicked */
  /* Any other styling you wish to add */
}

/* Modal2 styling */
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content2 {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  overflow: hidden;
}

/* Close button */
.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* Aspect ratio for 16:9 (9/16 = 56.25%) */
  width: 100%;
}

.responsive-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

contact-header {
  text-align: center;
  background-color: #ccc;
  padding: 50px;
  margin-top: 20px;
}
.contact-form {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}
.contact-form input,
.contact-form button {
  display: block;
  width: 98%;
  margin-bottom: 20px;
  padding: 10px;
  height: 30px;
}

.contact-form textarea {
  display: block;
  width: 98%;
  margin-bottom: 20px;
  padding: 10px;
  height: 200px;
}

.info-section {
  padding: 20px;
  background-color: #f5f5f5;
}
.map-container {
  padding: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .menu {
    flex-direction: row;
    justify-content: center;
  }

  .form-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .pitch-section,
  .activities-section {
    flex-direction: row;
  }

  /* Additional styling adjustments for tablet view */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    justify-content: space-around;
  }

  .menu > li {
    padding: 10px 15px;
  }

  .form-item {
    flex: 1 0 33%; /* 3 items per row */
  }

  /* More adjustments for desktop view */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }

  .form-item {
    flex: 1 0 25%; /* 4 items per row */
  }

  .pitch-section,
  .activities-section {
    flex-wrap: wrap;
  }

  /* Additional adjustments for large desktops */
}
