<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="css/styles.css"> <!-- Replace with your CSS file path -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">

        <!-- Header Section -->
        <header class="header">
            <div class="logo"><img src="images/logo.png"></div>
            <ul class="menu">
                <li class="active"><a href="index.html">Accueil</a></li>
                <li><a href="activite.html">Activité</a></li>
                <li><a href="information.html">Information</a></li>
                <li><a href="photo-video.html">Photo/Vidéo</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </header>
        <!-- Background Photo -->
        <div class="background-photo1">
            <!-- Title Section -->
            <section class="title-section">
                <h1 class="title"><strong>Camping Connecté</strong></h1>
                <h2 class="subtitle">L'endroit idéal pour flamber vos guimauves </h2>
            </section>

        </div>

        <!-- Form Section -->
     <!--   <form th:action="@{/recherche}" th:object="${rechercheSiteDTO}" method="post" id="reserver">-->
        <form th:action="@{/}" th:object="${rechercheSiteDTO}" method="post" id="reserver">
            <div class="form-container">
                <div class="form-item">
                    <label for="dateDebut">Date de début:</label>
                    <input type="date" id="dateDebut" name="dateDebut" th:field="*{dateDebut}" required />
                </div>
                <div class="form-item">
                    <label for="dateFin">Date de fin:</label>
                    <input type="date" id="dateFin" name="dateFin" th:field="*{dateFin}" required />
                    <!--Message si dateFin inf dateDebut -->
                    <p id="dateFinError" class="error-message"></p>
                    
                </div>



                <!--   <div class="form-item">
                <label for="personne">Nombre de personne</label>
                <input type="number" id="personne" name="personne" value="2">
            </div>
          -->

                <div>
                    <div class="form-item">
                        <label for="services">Services:</label>
                        <select id="services" name="services" th:field="*{services}">
                            <option value="Sans Service">Sans Service</option>
                            <option value="Eau seulement">Eau seulement</option>
                            <option value="Eau et électricité">Eau et électricité</option>
                            <option value="Eau-électricité-égouts">Eau-électricité-égouts</option>
                        </select>
                    </div>
                </div>


                <div class="form-item">
                    <label for="longueurEquipement">Longueur d'équipement (en pieds):</label>
                    <select id="longueurEquipement" name="longueurEquipement" th:field="*{longueurEquipement}">
                        <option value="10">5 à 10 pieds</option>
                        <option value="15">10 à 15 pieds</option>
                        <option value="20">15 à 20 pieds</option>
                        <option value="29">20 à 29 pieds</option>
                        <option value="40">29 à 40 pieds</option>
                    </select>
                </div>

            </div>

            <div class="form-group">
                <hr class="hr1">
                <button type="submit" class="confirm-button">Rechercher</button>
                <hr class="hr2">
            </div>

        </form>



        <!-- Pitch Section -->
        <section class="pitch-section">
            <div class="pitch-text">

                <h1>Évasion Naturelle chez Nous !</h1>
                <p>Plongez dans un havre de paix et de sérénité.</p>
                <p>Renouez avec la nature, respirez l'air pur et découvrez la beauté sauvage.</p>
                <p>Rejoignez-nous pour une expérience de camping inoubliable et revitalisante.</p>

            </div>
            <div class="background-photo2"></div>
        </section>

        <!-- Activities Photo Section -->
        <section>
            <div class="photo-container">
                <div class="activity-photo"></div>

            </div>
        </section>

        <!-- Activities Section -->
        <section class="activities-section">
            <div class="activity-photo1"></div>
            <div class="pitch-text">
                <h1>Des services pour votre bonheur !</h1>
                <ul>
                    <li>Piste cyclable pour les amateurs de vélo</li>
                    <li>Sauna baril : détente et bien-être assurés</li>
                    <li>Sentier pédestre à travers des paysages époustouflants</li>
                    <li>Wi-Fi gratuit sur l'ensemble du site</li>
                    <li>Aires de pique-nique équipées et ombragées</li>
                    <li>Location d'équipements de plein air</li>
                    <li>Ateliers nature et découverte de la faune locale</li>
                    <li>Service de navette pour les excursions locales</li>
                </ul>
            </div>
        </section>

        <!-- Activities Photo Section -->
        <section>
            <div class="photo-container">
                <div class="activity-photo3"></div>

            </div>
        </section>

        <!-- Another Activities Photo Section -->
        <section class="activities-section">
            <div class="pitch-text">
                <h1>Réservez votre escapade de rêve maintenant !</h1>
                <div>
                    Découvrez un lieu enchanteur loin du tumulte, immergez-vous dans la beauté naturelle, respirez l'air
                    de la montagne et relaxez-vous au chant des oiseaux. Partagez des moments uniques et créez des
                    souvenirs mémorables. Le paradis vous attend.
                </div>
                <div class="form-group">
                    <a href="#reserver">
                        <button type="submit" class="confirm-button">Réservez Maintenant</button>
                    </a>
                </div>
            </div>
            <div class="activity-photo2"></div>
        </section>

        <!-- Footer -->
        <!-- Footer -->
        <footer class="footer">

            <h1>Pour nous rejoindre!</h1>
            <div>
    <ul>
        <li>Téléphone: (123)456-4789</li>
        <li>Email: info@campconnecte.com</li>
        <h2>Social</h2>
        <li>
            <a href="https://www.facebook.com/campingquebec" target="_blank" class="social-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="white" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3 8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209 2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971v3z" />
                </svg> Facebook
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/campingquebec/" target="_blank" class="social-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="white" d="M14.829 6.302c-.738-.034-.96-.04-2.829-.04s-2.09.007-2.828.04c-1.899.087-2.783.986-2.87 2.87-.033.738-.041.959-.041 2.828s.008 2.09.041 2.829c.087 1.879.967 2.783 2.87 2.87.737.033.959.041 2.828.041 1.87 0 2.091-.007 2.829-.041 1.899-.086 2.782-.988 2.87-2.87.033-.738.04-.96.04-2.829s-.007-2.09-.04-2.828c-.088-1.883-.973-2.783-2.87-2.87zm-2.829 9.293c-1.985 0-3.595-1.609-3.595-3.595 0-1.985 1.61-3.594 3.595-3.594s3.595 1.609 3.595 3.594c0 1.985-1.61 3.595-3.595 3.595zm3.737-6.491c-.464 0-.84-.376-.84-.84 0-.464.376-.84.84-.84.464 0
.84.376.84.84 0 .463-.376.84-.84.84zm-1.404 2.896c0 1.289-1.045 2.333-2.333 2.333s-2.333-1.044-2.333-2.333c0-1.289 1.045-2.333 2.333-2.333s2.333 1.044 2.333 2.333zm-2.333-12c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.958 14.886c-.115 2.545-1.532 3.955-4.071 4.072-.747.034-.986.042-2.887.042s-2.139-.008-2.886-.042c-2.544-.117-3.955-1.529-4.072-4.072-.034-.746-.042-.985-.042-2.886 0-1.901.008-2.139.042-2.886.117-2.544 1.529-3.955 4.072-4.071.747-.035.985-.043 2.886-.043s2.14.008 2.887.043c2.545.117 3.957 1.532 4.071 4.071.034.747.042.985.042 2.886 0 1.901-.008 2.14-.042 2.886z" />
</svg> Instagram
</a>
</li>
<li>
<a href="https://www.youtube.com/channel/UCrU1u-yTm8u2AosXfVzkjaQ" target="_blank" class="social-link">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<path fill="white" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.441 16.892c-2.102.144-6.784.144-8.883 0-2.276-.156-2.541-1.27-2.558-4.892.017-3.629.285-4.736 2.558-4.892

2.099-.144 6.782-.144 8.883 0 2.277.156 2.541 1.27 2.559 4.892-.018 3.629-.285 4.736-2.559 4.892zm-6.441-7.234l4.917 2.338-4.917 2.346v-4.684z" />
</svg> YouTube
</a>
</li>
<li>
<a th:href="@{/adminLogin.html}" class="social-link">Espace Administrateur</a>
</li>
</ul>

</div>

        </footer>

    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('reserver');
        var dateDebutInput = document.getElementById('dateDebut');
        var dateFinInput = document.getElementById('dateFin');
        var dateFinError = document.getElementById('dateFinError');

        form.addEventListener('submit', function (event) {
            var dateDebut = new Date(dateDebutInput.value);
            var dateFin = new Date(dateFinInput.value);

            if (dateFin <= dateDebut) {
                dateFinError.textContent = "La date de fin doit être supérieure à la date de début.";
                dateFinError.classList.add('error-message'); // Appliquer la classe CSS personnalisée
                dateFinInput.classList.add('error-message'); // Appliquer la classe CSS au champ d'entrée
                event.preventDefault();
            } else {
                dateFinError.textContent = "";
                dateFinInput.classList.remove('error-message'); // Retirer la classe CSS du champ d'entrée s'il n'y a pas d'erreur
            }
        });
    });
</script>
    
</body>

</html>