<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Réservations</title>
</head>
<body>
    <h1>Liste des Réservations</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Site ID</th>
                <th>Date de Début</th>
                <th>Date de Fin</th>
                <th>Nombre de Nuits</th>
                <th>Prix Total</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Utilisation de Thymeleaf pour itérer sur la liste de réservations -->
            <tr th:each="reservation : ${reservations}">
                <td th:text="${reservation.id}">1</td>
                <td th:text="${reservation.user.Id}">1</td>
                <td th:text="${reservation.site.Id}">1</td>
                <td th:text="${reservation.dateDebut}">2022-01-01</td>
                <td th:text="${reservation.dateFin}">2022-01-05</td>
                <td th:text="${reservation.nombreDeNuits}">4</td>
                <td th:text="${reservation.prixTotal}">$400.00</td>
                <td th:text="${reservation.status}">Confirmée</td>
                <td>
                    <!-- Lien pour modifier la réservation -->
                    <a th:href="@{'/admin/reservations/edit/' + ${reservation.id}}">Modifier</a>
                    <!-- Lien pour supprimer la réservation -->
                    <a th:href="@{'/admin/reservations/delete/' + ${reservation.id}}">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Bouton pour ajouter une réservation -->
    <a th:href="@{/admin/reservations/add}">Ajouter une Réservation</a>
</body>
</html>
