<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Sites</title>
</head>
<body>

	<div>
    <a th:href="@{/sites/add}" >Ajouter un site</a>
	</div>

    <h1>Liste des Sites</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Numéro</th>
                <th>Service</th>
                <th>Longueur Max</th>
                <th>Prix Par Nuit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="site : ${sites}">
                <td th:text="${site.id}"></td>
                <td th:text="${site.numero}"></td>
                <td th:text="${site.services}"></td>
                <td th:text="${site.longueurMax}"></td>
                <td th:text="${site.prixParNuit}"></td>
                <td>
                    <a th:href="@{/sites/edit/{id}(id=${site.id})}">Modifier</a>
                 <!--   <a th:href="@{/sites/add/{id}(id=${site.id})}">Ajouter</a>-->
                    <a th:href="@{/sites/delete/{id}(id=${site.id})}">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
